{% extends 'main/layout.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'main/css/aboutus.css' %}" />{% endblock %}

{% block content %}
<main class="content">
        <!-- Верхний блок (ярлык) -->
        <div class="about-icon">
            <b class="about-txt">О нас</b>
        </div>

        <!-- Основной блок (контейнер информации) -->
        <div class="info-icon">
            <div class="info-icon2">
            <p class="info-txt">Информация о проекте</p>
        </div>
        </div>
    </main>
{% endblock %}
