{% extends 'main/layout.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'main/css/feedback.css' %}" />{% endblock %}


{% block content %}
<div class="rectangle-div">
</div>
<b class="b">Обратная связь</b>
<div class="frame-child1">
</div>
<img class="frame-chiild2" alt="" src="{% static 'main/img/Rectangle 28.svg' %}">

<div class="div6">Почта для обратной связи</div>
<img class="frame-child3" alt="" src="{% static 'main/img/Rectangle 27.svg' %}">

<div class="diiv7">Тема письма</div>
<div class="diiv8">Заголовок сообщения</div>
<img class="frame-child4" alt="" src="{% static 'main/img/Rectangle 20.svg' %}">

<div class="div9">Текст сообщения</div>
<img class="frame-child5" alt="" src="{% static 'main/img/Rectangle 21.svg' %}">

<div class="div10">Почта для обратной связи</div>
<img class="frame-child6" alt="" src="{% static 'main/img/Rectangle 22.svg' %}">

<img class="frame-child7" alt="" src="{% static 'main/img/Rectangle 23.svg' %}">

<div class="div11">Отправить</div>
<div class="div12">Очистить</div>
{% endblock %}
