{% extends 'main/layout.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'main/css/index.css' %}" />{% endblock %}

{% block content %}
<main class="content">
            <div class="search-container">
                <input
                    type="text"
                    class="search-input"
                    placeholder="Напишите что-нибудь для поиска"
                >
                <div class="icon-magnifying-glass">
                    <img class="vector-icon4" alt="" src="{% static 'main/img/glass.svg' %}">
                </div>
            </div>
        </main>
{% endblock %}