{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    {% block css %}{% endblock %}
    <link rel="stylesheet"  href="{% static 'main/css/global.css' %} " />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" />
</head>
<body>
    <div class="page">
        <!-- Header Section -->
        <header class="header">
            <div class="logo"></div>
            <div class="rocket-science-txt">Rocket Science</div>
            <nav class="nav">
                <a href="{% url 'index' %}"><div class="main-txt">Главная</div></a>
                <a href="{% url 'about' %}"><div class="about-us-txt">О нас</div></a>
                <a href="{% url 'feedback' %}"><div class="feedback-txt">Обратная связь</div></a>
                <a href="{% url 'profile' %}"><div class="profile-txt">Профиль</div></a>
            </nav>
            <div class="button-container1">
                 <button class="sign-in-button">
                    <a href="{% url 'login' %}"><span>Вход</span></a>
                </button>
                <button class="log-in-button">
                    <a href="{% url 'register' %}"><span>Регистрация</span></a>
                </button>
            </div>
        </header>
        <!-- Main Content Section -->
        {% block content %}
        {% endblock %}
        <!-- Footer Section -->
        <footer class="footer">
            <div style="display: flex; align-items: center;">
                <div>
                    <div class="logo-icon"></div>
                    <div class="rocket-science-txt">Rocket Science</div>
                    <div class="description-txt">Размещаем статьи и другие научные ресурсы</div>
                </div>
                <div class="contact-support">
                    <div class="contacts">
                        <p>Контакты:</p>
                        <p>+7 776 523 18 44</p>
                        <p>+7 776 523 18 43</p>
                    </div>
                    <div class="supportgmail">
                        <p>Почта:</p>
                        <p>support@gmail.com</p>
                        <p>support1@gmail.com</p>
                    </div>
                </div>
            </div>

            <div class="icons-container">
                <a href="https://example.com/git" target="_blank">
                    <img class="group-icon" alt="Git" src="{% static 'main/img/Group.svg' %}">
                </a>
                <a href="https://example.com/twitter" target="_blank">
                    <img class="vector-icon" alt="Twitter" src="{% static 'main/img/Vector.svg' %}">
                </a>
                <a href="https://example.com/linkedin" target="_blank">
                    <img class="vector-icon1" alt="LinkedIn" src="{% static 'main/img/Vector1.svg' %}">
                </a>
                <a href="https://example.com/instagram" target="_blank">
                    <img class="vector-icon2" alt="Instagram" src="{% static 'main/img/Vector2.svg' %}">
                </a>
            </div>

            <div class="rocketsciencecom">© 2024 RocketScience.com</div>
        </footer>
    </div>
</body>
</html>
