{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    {% block css %}{% endblock %}
    <link rel="stylesheet"  href="{% static 'main/css/global.css' %} " />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" />
</head>
<body>
    <div class="rectangle-parent">
        <div class="frame-child"></div>
        <div class="frame-item"></div>
        <img class="frame-inner" alt="" src="{% static 'main/img/Rectangle 14.svg' %}">

        <img class="rectangle-icon" alt="" src="{% static 'main/img/Rectangle 15.svg' %}">

        <div class="rocket-science">Rocket Science</div>
        <a href="{% url 'index' %}"> <div class="div">Главная</div></a>
        <a href="{% url 'about' %}"><div class="div1">О нас</div></a>
        <a href="{% url 'feedback' %}"><div class="div2">Обратная связь</div></a>
        <div class="div3">Профиль</div>
        <a href="{% url 'login' %}"><div class="div4">Вход</div></a>
        <a href="{% url 'register' %}"><div class="div5">Регистрация</div></a>
        {% block content %}
        {% endblock %}
        <img class="frame-child2" alt="" src="{% static 'main/img/Rectangle 17.svg' %}">
        <div class="rocketsciencecom">© 2024 RocketScience.com</div>
        <div class="supportgmailcom-support1gma">
            <p class="supportgmailcom">Почта: support@gmail.com</p>
            <p class="support1gmailcom">            support1@gmail.com</p>
        </div>
        <div class="div7">
            <p class="supportgmailcom">Контакты: +7 776 523 18 44</p>
            <p class="support1gmailcom">                  +7 776 523 18 43</p>
        </div>
        <div class="ellipse-div"></div>
        <div class="rocket-science1">Rocket Science</div>
        <img class="group-icon" alt="" src="{% static 'main/img/Group.svg' %}">

        <img class="vector-icon" alt="" src="{% static 'main/img/Vector.svg' %}">

        <img class="vector-icon1" alt="" src="{% static 'main/img/Vector1.svg' %}">

        <img class="vector-icon2" alt="" src="{% static 'main/img/Vector2.svg' %}">

        <div class="div8">Размещаем статьи и другие научные ресурсы</div>

    </div>
</body>
</html>
