
/* Main Section */
.about-icon {
    position: absolute;
    top: 165px;
    left: 97px;
    border-radius: 20px;
    background-color: #1e1e1e;
    width: 360px;
    height: 130px;
}
.about-txt {
    z-index: 10;
    position: absolute;
    top: 195px;
    left: 206px;
    font-size: 36px;
    display: inline-block;
    text-align: center;
    width: 141px;
    height: 53px;
}
.info-icon {
    position: absolute;
    top: 249px;
    left: 97px;
    border-radius: 20px;
    background-color: #1e1e1e;
    width: 1755px;
    height: 1939px;
}
.info-txt {
    position: absolute;
    top: 340px;
    left: 171px;
    font-size: 32px;
    display: inline-block;
    width: 1580px;
    height: 1676px;
}
