.page {
    width: 100%;
    position: relative;
    background-color: #d9d9d9;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    height: 2500px;
    overflow: hidden;
    text-align: left;
    font-size: 24px;
    color: #fff;
    font-family: Inter;
}


/* Main Section */
.main-page-icon {
    position: absolute;
    top: 184px;
    left: 50px;
    border-radius: 20px;
    background-color: #f7f7f7;
    width: 1814px;
    height: 2017px;
}
.line1 {
    position: absolute;
    top: 1068.5px;
    left: 138.5px;
    background-color: #2d2d2d;
    border-top: 1px solid #2d2d2d;
    box-sizing: border-box;
    width: 510px;
    height: 1px;
}
.line2 {
    position: absolute;
    top: 972.5px;
    left: 138.5px;
    background-color: #2d2d2d;
    border-top: 1px solid #2d2d2d;
    box-sizing: border-box;
    width: 510px;
    height: 1px;
}
.photo {
    position: absolute;
    top: 249px;
    left: 191px;
    border-radius: 50%;
    background-color: #fff;
    border: 5px solid #b5b5b5;
    box-sizing: border-box;
    width: 295px;
    height: 295px;
}
.line3  {
    position: absolute;
    top: 875.5px;
    left: 138.5px;
    background-color: #2d2d2d;
    border-top: 1px solid #2d2d2d;
    box-sizing: border-box;
    width: 510px;
    height: 1px;
}
.p {
    margin: 0;
}
.profite-info {
    position: absolute;
    top: 249px;
    left: 740px;
    font-size: 32px;
    color: #2d2d2d;
    display: inline-block;
    width: 1055px;
    height: 1918px;
}
.username {
    position: absolute;
    top: 580px;
    left: 139px;
    font-size: 32px;
    display: flex;
    color: #2d2d2d;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 399px;
    height: 76px;
}
.articles-txt {
    position: absolute;
    top: 780px;
    left: 139px;
    color: #2d2d2d;
    display: flex;
    align-items: center;
    width: 254px;
    height: 96px;
}
.zero1 {
    position: absolute;
    top: 780px;
    left: 590px;
    color: #2d2d2d;
    display: flex;
    align-items: center;
    width: 58px;
    height: 97px;
}
.reviews-txt {
    position: absolute;
    top: 876px;
    left: 139px;
    color: #2d2d2d;
    display: flex;
    align-items: center;
    width: 254px;
    height: 97px;
}
.zero2 {
    position: absolute;
    top: 876px;
    left: 590px;
    color: #2d2d2d;
    display: flex;
    align-items: center;
    width: 58px;
    height: 97px;
}
.p-comments-txt {
    position: absolute;
    top: 973px;
    left: 139px;
    color: #2d2d2d;
    display: flex;
    align-items: center;
    width: 254px;
    height: 96px;
}
.zero3 {
    position: absolute;
    top: 973px;
    left: 590px;
    color: #2d2d2d;
    display: flex;
    align-items: center;
    width: 58px;
    height: 97px;
}



/* Footer Section */
.footer-icon {
    position: absolute;
    top: 2255px;
    left: -1px;
    width: 1924px;
    height: 245px;
}
.rocketsciencecom {
    position: absolute;
    top: 2425px;
    left: 1584px;
    color: #999;
    display: inline-block;
    width: 339px;
    height: 29px;
}
.gmail-txt {
    margin: 0;
}
.gmail1-txt {
    margin: 0;
    white-space: pre-wrap;
}
.supportgmail{
    position: absolute;
    top: 2398px;
    left: 1002px;
    color: #999;
    display: inline-block;
    width: 365px;
    height: 84px;
}
.contacts {
    position: absolute;
    top: 2398px;
    left: 583px;
    color: #999;
    display: inline-block;
    width: 365px;
    height: 84px;
}
.logo-icon {
    position: absolute;
    top: 2304px;
    left: 39px;
    border-radius: 50%;
    background-color: #d9d9d9;
    width: 68px;
    height: 68px;
}
.rocket-science1-txt {
    position: absolute;
    top: 2316px;
    left: 142px;
    font-size: 32px;
    display: inline-block;
    width: 254px;
    height: 44px;
}
.group-icon {
    position: absolute;
    height: 2.63%;
    width: 3.46%;
    top: 92.24%;
    right: 22.75%;
    bottom: 5.13%;
    left: 73.79%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-icon {
    position: absolute;
    height: 2.64%;
    width: 4.05%;
    top: 92.24%;
    right: 16.46%;
    bottom: 5.12%;
    left: 79.49%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-icon1 {
    position: absolute;
    height: 2.52%;
    width: 3.18%;
    top: 92.36%;
    right: 11.03%;
    bottom: 5.12%;
    left: 85.79%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-icon2 {
    position: absolute;
    height: 2.4%;
    width: 4.36%;
    top: 92.48%;
    right: 3.74%;
    bottom: 5.12%;
    left: 91.9%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.description-txt {
    position: absolute;
    top: 2400px;
    left: 39px;
    color: #999;
    display: inline-block;
    width: 365px;
    height: 84px;
}


