

{% extends 'accounts/Shablon.html' %}
{% load static %}
{% block css %}    <link rel="stylesheet" href="{% static 'accounts/css/profilePage.css' %}">
{% endblock %}


{% block content %}
  <div class="profile-container">
    <div class="profile-header">
      <h1>Профиль пользователя</h1>
    </div>
    <div class="profile">
      <div class="profile-photo">
        <img src="https://via.placeholder.com/150" alt="Фото пользователя">
      </div>
      <div class="profile-info">
        <h2>{{ user.username }}</h2>
        <p><strong>Имя:</strong> {{ user.first_name }}</p>
        <p><strong>Фамилия:</strong> {{ user.last_name }}</p>
        <p><strong>Почта:</strong> {{ user.email }}</p>
        <p><strong>Псевдоним:</strong> {{ user.username }}</p>
      </div>
    </div>
    <div class="profile-actions">
      <button class="btn">Редактировать профиль</button>
      <button class="btn">Выход</button>
    </div>
  </div>



 <!-- Секция с постами и отзывами -->
 <div class="posts-section2">
  <h2>Отзывы (<span id="postCount">0</span>)</h2>
  <h2>Посты (<span id="postCount">0</span>)</h2>
  <div class="postsContainer"></div>
</div>
{% endblock %}