
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/css/indexRegister.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kodchasan:wght@400&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap">
    <title>Регистрация</title>
</head>
<body>
    <div class="parent">
        <header class="frame-child">
            <div class="frame-item"></div>
            <div class="rocket-science">Rocket Science</div>
            <nav>
                <a class="nav-item" href="#">Главная</a>
                <a class="nav-item" href="#">О нас</a>
                <a class="nav-item" href="#">Обратная связь</a>
                <a class="nav-item" href="#">Профиль</a>
            </nav>
        </header>

        <div class="registration-form">
            <h2>Регистрация</h2>
            <form action="register" method ="post">
                {% csrf_token %}
                <div class="form-row">
                    <label for="first-name">Имя</label>
                    <input type="text" id="first-name" name="first_name" required>
                    <label for="last-name">Фамилия</label>
                    <input type="text" name="last_name" placeholder="last name" required>
                </div>
                <label for="email">Почта</label>
                <input type="email" name="email" placeholder="email" required>
                <label for="username">Псевдоним</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Пароль</label>
                <input type="password" name="password" placeholder="Password" required>
                <label for="confirm-password">Повторите пароль</label>
                <input type="password" name="c_password" placeholder="Confirm Password">
                <input type="submit" name="submit" class="register-button">Регистрация</input>
            </form>
        </div>

        <footer class="footer">
            <div class="footer-section">
                <div class="footer-logo">
                    <div class="logo-circle"></div>
                    <p class="footer-title">Rocket Science</p>
                </div>
                <p class="footer-description">Размещаем статьи и другие научные ресурсы</p>
            </div>
            <div class="footer-section">
                <p>Контакты: +7 779 523 18 44<br>+7 779 523 18 43</p>
                <p>Почта: support@gmail.com<br>support1@gmail.com</p>
            </div>
            <div class="footer-rights">© 2024 RocketScience.com</div>
        </footer>
    </div>
</body>
</html>





