

/* Main Section */
.about-icon {
    position: absolute;
    top: 161px;
    left: 97px;
    border-radius: 20px;
    background-color: #1e1e1e;
    width: 657px;
    height: 176px;
}
.about-txt {
    z-index: 10;
    position: absolute;
    top: 212px;
    left: 146px;
    font-size: 36px;
    color: #fff;
    display: inline-block;
    text-align: center;
    width: 523px;
    height: 97px;
}
.info-icon {

    margin-top: 245px;
    margin-left: 77px;
    border-radius: 20px;
    background-color: #1e1e1e;
    width: 90%;
    height: 1939px;
}
.info-txt {
    position: absolute;
    top: 340px;
    left: 200px;
    color: #fff;
    font-size: 32px;
    display: inline-block;
    width: 1580px;
    height: 1676px;
}
