{% extends 'accounts/Shablon.html' %}
{% load static %}
{% block css %}
<title>Публикация статьи</title>
<link rel="stylesheet" href="{% static 'articles/css/delete.css' %}">
{% endblock %}
{% block content %}
    <div class="delete-container">
    <h1 class="delete-header">Удаление статьи</h1>
    <p class="delete-text">Вы уверены, что хотите удалить статью <strong>"{{ article.title }}"</strong>?</p>
    <form method="post" class="delete-form">
        {% csrf_token %}
        <button type="submit" class="delete-button">Да, удалить</button>
        <a href="{% url 'articles:article_list' %}" class="cancel-button">Отмена</a>
    </form>
</div>

{% endblock %}




