# Игнорировать скомпилированные Python файлы
*.pyc
*.pyo
__pycache__/

# Игнорировать файлы виртуальных сред
venv/
env/

# Игнорировать временные файлы редакторов
*.swp
*.swo
*.bak
*.tmp
*.orig

# Игнорировать конфигурационные файлы IDE
.idea/
.vscode/

# Игнорировать журналы и временные файлы
*.log
*.out
*.tmp

# Игнорировать файлы базы данных
*.sqlite3

# Игнорировать файлы кэша и дампов
*.cache
*.dump
